.app {
   display: flex;
   flex-direction: column;
   // justify-content: center;
   // align-items: center;
   @media(min-width: 992px) {
      flex-direction: row;
   }
}

.app__left {
   // max-width: 750px;
   background-color: #0F0F0F;
   // padding-left: 20%;
   @media(min-width: 992px) {
      min-height: 100vh;
   }

   .app__left-wrapper {
      @media(min-width: 992px) {
         max-width: 750px;
         margin-left: auto;
      }
   }
}

.app__right {
   // max-width: 500px;
   background-color: #080808;
   // padding-right: 20%;
   @media(min-width: 992px) {
      min-height: 100vh;
   }
}