@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&display=swap');

@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Exo', sans-serif !important;
  background-color: #080808 !important;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F9FAFB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}

.card-text-container::-webkit-scrollbar {
  width: 6px;
}