.transaction-form {
   max-width: 400px;
   background: rgb(33,33,33);
   background: linear-gradient(130deg, rgba(33,33,33,1) 0%, rgba(19,19,20,1) 100%);
   border-radius: 20px;

   @media(min-width: 700px) {
      max-width: none;
      display: flex;
      justify-content: space-evenly;
      gap: 0 15px;
   }

   @media(min-width: 992px) {
      max-width: 400px;
      flex-direction: column;
      gap: 0;
   }
}

.inputs-container {
   /* Chrome, Safari, Edge, Opera */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
   }

   /* Firefox */
   input[type=number] {
   -moz-appearance: textfield;
   }

   @media(min-width: 700px) {
      width: 40%;
   }
   @media(min-width: 992px) {
      width: 100%;
   }
}

.transaction-input {
   background-color: #292929 !important;
   border: none !important;
}
.transaction-input:focus {
   outline: none !important;
   box-shadow: none !important;
   border: none !important;
}

.crypto-card {
   width: 100%;
   margin-bottom: 2.5rem;

   // background-color: #c599ff;
   background-image:#c599ff;background-image:  
   radial-gradient(at 24% 75%, hsla(283,95%,74%,1) 0, transparent 47%),  
   radial-gradient(at 97% 34%, hsla(228,71%,61%,1) 0, transparent 50%),  
   radial-gradient(at 12% 35%, hsla(174,73%,78%,1) 0, transparent 40%);

   aspect-ratio: 5/3;
   border-radius: 25px;
   max-width: 352px;

   @media(min-width: 700px) {
      aspect-ratio: unset;
      height: 256px;
      margin-bottom: 0;
   }

   @media(min-width: 992px) {
      height: unset;
      aspect-ratio: 5/3 !important;
      margin-bottom: 2.5rem;
   }
}

.eth-symbol-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #F9FAFB;
   width: 35px;
   height: 35px;
   border-radius: 50%;

   @media(min-width: 400px) {
      width: 40px;
      height: 40px;
   }

   .eth-icon {
      font-size: 20px;
      @media(min-width: 400px) {
         font-size: 23px;
      }
   }
}

.i-symbol-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #F9FAFB;
   width: 20px;
   height: 20px;
   border-radius: 50%;

   .i-icon {
      font-size: 12px;
   }
}

.eth-card-text {
   .address-text {
      font-size: 14px;

      @media(min-width: 350px) {
         font-size: 16px;
      }
   }

   .eth-title {
      font-size: 20px;

      @media(min-width: 350px) {
         font-size: 23px;
      }
   }
}

.transaction-btn:focus {
   box-shadow: 0 0 10px #F9FAFB !important;
}